body {
    background-image: url("assets/backgroud-img.webp");
    box-sizing: border-box;
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

h1{
 border: 1px white;
}

#main-content {
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

#circular-image {
    width: 50%;
    height: auto;
    margin: 0 auto;
    border: 5px white;
    border-radius: 50%;
}